body{
    background-color: rgb(235, 235, 235);
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.wrapper{
    position: fixed;
    z-index: 2;
    height: auto;
    width: 30em;
    background-image: linear-gradient(rgba(0, 119, 255, 0.8) , rgb(144, 214, 241, 0.8) );
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 25px #888888;
    /* filter: blur(2px); */

}


h1{
    display: flex;
    justify-content: center;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 50px;
    text-shadow: 0.03em 0.03em 0.05em #292929;
    font-size: 3em;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input{
    border: none;
    padding: 15px 0px;
    padding-left: 1rem;
    padding-right: 93px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 300;
    outline: none;
    color:#888888;
}

button{
    border: none;
    border-radius: 12px;
    padding: 15px 135px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    background-image: linear-gradient(90deg, rgb(49, 121, 255), rgb(30, 78, 253) );
    margin: 1em 0em;
}

button:hover{
    background-image: linear-gradient(90deg, rgb(72, 136, 255), rgb(56, 99, 255) );
}

.c{
    color: #fff;
    scale: 200px;
}

h2{
    display: flex;
    justify-content: center;
    color: white;
    font-family:sans-serif;
    /* text-shadow: 0.03em 0.03em 0.05em #292929; */
    font-size: 2.5rem;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h3{
    display: flex;
    justify-content: center;
    color: white;
    font-family:sans-serif;
    /* text-shadow: 0.03em 0.03em 0.05em #292929; */
    font-size: 2.6rem;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ef{
    /* display: flex; */
    height: 300px;
    width: 500px;
    background-image: linear-gradient(rgba(23, 174, 255, 0.807) , skyblue );
    /* filter:opacity(5%); */
    filter: blur(13rem);
    border-radius: 2rem;
    margin: 100px;
}

h4{
    display: flex;
    color: white;
    font-family:sans-serif;
    /* text-shadow: 0.03em 0.03em 0.05em #292929; */
    font-size: 16px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bac{
    display: flex;
    position: fixed;

    z-index: -1;
    border-radius: 18px;
    /* filter: opacity(50%); */
    margin-top: 20px;
    /* filter: blur(2px); */
    filter: brightness(100%);
}

img{
    display: flex;
    align-items: center;
}

@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #383636; /* Blue */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
  }
  
  .spinner-container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 350px;
  }